

.wrapper{
    height: 214px;
    margin: 200px;
    border: 7px solid black;
    border-radius: 40px;
    
}
#TextColorGen{
    font-size: 50px;
}




#mydiv{
   padding: 50px;
   border-radius: 32px;
   height: 200px;
   
}

.wrapper_btn{
    width: 100%;
    text-align: center;
   
    
    
}

button{
    background-color: #111111;
    color: white;
    font-size: 20px;
    padding: 20px;
    border-radius: 20px;

}
